@import "../../dist/styles/vars.scss";
.carItem {
    padding: 15px;
    background-color: $dark-blue;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    position: relative;
    transition: 0.8s ease;
    &:hover {
        z-index: 100;
        background-color: $black;
        opacity: 0.9;
        border: 1px solid $cMain;
        &::before {
            opacity: 0;
        }
    }
    &::after {
        content: "";
        background-image: url("../../dist/image/light.png");
        background-position: center;
        position: absolute;
        width: 320px;
        height: 409px;
        top: 0;
        right: 0;
        border-radius: 20px;
        z-index: -1;
    }
    &::before {
        content: "";
        background-image: url("../../dist/image/light.png");
        background-position: center;
        position: absolute;
        width: 320px;
        height: 409px;
        top: 0;
        right: 0;
        border-radius: 20px;
        z-index: -1;
    }
    &__title {
        font-family: $fontS;
        font-weight: 600;
        text-align: center;
        height: 72px;
    }
    &__image {
        width: 290px;
        height: 170px;
        z-index: 100;
    }
    &__image {
        max-width: 100%;
    }

    &__info {
        display: flex;
        margin-top: 10px;
        gap: 15px;
    }

    &__info-item {
        text-align: center;
    }

    &__info-text {
        width: 100%;
        font-size: 16px;
    }

    &__price {
        font-size: 24px;
        margin: 15px 0;
    }

    &__buttons {
        display: flex;
        gap: 10px;
        position: relative;
    }
    &__slider-wrap {
        width: 59% !important;
        height: 120% !important;
    }
    &__slider-image {
        width: 90%;
    }
    &__btn-photo {
        padding: 10px 18px;
        font-size: 17px;
        height: 42px;
        width: 100%;
    }

    &__btn-reserve {
        border: 1px solid $light-blue;
        padding: 10px 18px;
        font-size: 17px;
        height: 42px;
    }
}
.carItem__wrap {
    position: relative;

    &::before {
        content: "";
        background-image: url("../../dist/image/light.png");
        background-position: center;
        position: absolute;
        width: 320px;
        height: 409px;
        top: 0;

        right: 0;
        border-radius: 20px;
        z-index: -1;
    }
}
.ReactModal__Overlay {
    background-color: inherit !important;
    z-index: 100;
}

.modal__btn {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 35px;
    height: 35px;
    fill: #fff;
    transition: fill 0.5s;
    cursor: pointer;
    &:hover {
        fill: $dark-blue;
        stroke: #fff;
    }
    @media screen and (max-width: $breakpoint768) {
        top: 10px;
        right: 10px;
    }
}
.react-modal-content {
    background-color: $dark-blue !important;
    backdrop-filter: blur(30px);
    border-radius: 10px !important;
    position: relative;
    border: none !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    background: white;
    border: 1px solid #ccc;
    padding: 20px;
    @media screen and (max-width: $breakpoint768) {
        max-width: 90%;
        max-height: 90%;
    }
}
