@import "../../dist/styles/vars.scss";
.carSaleList {
    &__wrap {
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
    &__showMore {
        cursor: pointer;
        margin-top: 50px;
        font-size: 20px;
        text-align: center;
        transition: color 0.5s ease;
        &:hover {
            color: $blue;
        }
    }
}
