@import "../../dist/styles/vars.scss";
.tariffs {
    text-align: center;
    &__wrap {
        margin: 100px 0;
    }

    &__title {
        font-family: $fontS;
        font-size: 40px;
        font-weight: 400;
    }
    &__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
        position: relative;
        margin-top: 40px;
        @media screen and (max-width: $breakpoint992) {
            justify-content: center;
        }
    }
    &__item {
        border: 1px solid $cMain;
        padding: 30px;
        border-radius: 20px;
    }

    &__item-title {
        font-family: $fontS;
        font-size: 30px;
        font-weight: 700;
    }

    &__item-text {
        font-family: $fontS;
        font-size: 22px;
        font-weight: 500;

        margin-top: 20px;
        margin-bottom: 60px;
    }

    &__item-btn {
        padding: 15px 30px;
    }
}
