@import "../../dist/styles/vars.scss";

.questions {
    &__item {
        position: relative;
        &-title {
            display: flex;
            padding: 15px 20px;
            border-radius: 10px;
            background-color: $light-blue;
            justify-content: space-between;
            align-items: center;
            z-index: 3;
            cursor: pointer;
            transition: 0.6s ease;
            &-active {
                background-color: rgba(24, 47, 255, 0.9);
            }
            &:hover {
                background-color: rgba(24, 47, 255, 0.9);
            }
            @media screen and (max-width: $breakpoint768) {
                font-size: 14px;
            }
        }
        &-content {
            transition: 0.5s ease;
            background-color: $dark-blue;
            border-radius: 0 0 10px 10px;
            padding: 20px 20px;
            position: relative;
            top: -8px;
            z-index: -1;
            @media screen and (max-width: $breakpoint768) {
                font-size: 14px;
            }
        }
    }
    &__arrowUp {
        transform: rotate(180deg);
    }
}
